/*
    Basic Font Setup
*/

fontFamily: 'Roboto'

fontSizeHero = 72px
fontSizeH1 = 66px
fontSizeH2 = 45px
fontSizeH3 = 36px
fontSizeH4 = 30px
fontSizeH5 = 26px
fontSizeP = 16px
fontSizeSmall = 12px

/*
    Hero Heading Light Font
*/

.heroH1
    font-weight: 100
    font-size: fontSizeHero
    font-family: fontFamily, sans-serif
