// CSS Reset by html5doctor.com Reset Stylesheet
@import "reset.css" 


/*
    Basic Font Setup
*/

fontFamily = 'Roboto'
fontType = sans-serif

fontSizeHero = 72px
fontSizeHOne = 66px
fontSizeHTwo = 45px
fontSizeHThree = 36px
fontSizeHFour = 30px
fontSizeHFive = 26px
fontSizeP = 16px
fontSizeSmall = 12px

h1,h2,h3,h4,h5,p,small
    font-family: fontFamily, fontType

h1
    font-size: fontSizeHOne

h2
    font-size: fontSizeHTwo
    
h3
    font-size: fontSizeHThree

h4
    font-size: fontSizeHFour

h5
    font-size: fontSizeHFive

p
    font-size: fontSizeP

small
    font-size: fontSizeSmall
    
/*
    Hero Heading Light Font
*/

.heroH1
    font-weight: 100
    font-size: fontSizeHero
    font-family: fontFamily, fontType
