@import "reset.css";
/*
    Basic Font Setup
*/
h1,
h2,
h3,
h4,
h5,
p,
small {
  font-family: 'Roboto', sans-serif;
}
h1 {
  font-size: 66px;
}
h2 {
  font-size: 45px;
}
h3 {
  font-size: 36px;
}
h4 {
  font-size: 30px;
}
h5 {
  font-size: 26px;
}
p {
  font-size: 16px;
}
small {
  font-size: 12px;
}
/*
    Hero Heading Light Font
*/
.heroH1 {
  font-weight: 100;
  font-size: 72px;
  font-family: 'Roboto', sans-serif;
}
