/*
    Basic Font Setup
*/

fontFamily: 'Roboto'

fontSizeHero = 72px
fontSizeH1 = 66px
fontSizeH2 = 45px
fontSizeH3 = 36px
fontSizeH4 = 30px
fontSizeH5 = 26px
fontSizeP = 16px
fontSizeSmall = 12px

h1,h2,h3,h4,h5,p,small
    font-family: fontFamily, sans-serif

h1
    font-size: fontSizeH1

h2
    font-size: fontSizeH2
    
h3
    font-size: fontSizeH3

h4
    font-size: fontSizeH4

h5
    font-size: fontSizeH5

p
    font-size: fontSizeP

small
    font-size: fontSizeSmall
    
/*
    Hero Heading Light Font
*/

.heroH1
    font-weight: 100
    font-size: fontSizeHero
    font-family: fontFamily, sans-serif
